<div data-react-component data-react-component-name="IndexComponent" data-react-component-props="<%= {message: "Hello from first component!"}.to_json %>"></div>

<div data-react-component data-react-component-name="IndexSecondComponent" data-react-component-props="<%= {message: "Hello from second component!"}.to_json %>"></div>

<%= link_to('Show page', page_show_path) %>
